$color-primary: #6566ff;
$color-dark_primary: #3524cf;

.header {
  &:before {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNTEuNSIgaGVpZ2h0PSIzOTAuNzIyIiB2aWV3Qm94PSIwIDAgMTUxLjUgMzkwLjcyMiI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6Izc4NzhmZjt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik0zNjAuNSw1MzkuOTkyaDBWMTQ5LjI3TDQ4MC44ODQsMjY5LjYxN2ExMDYuMTkzLDEwNi4xOTMsMCwwLDEsMjIuNzcsMzMuNzQ2LDEwNi4wODQsMTA2LjA4NCwwLDAsMS04LjczMSw5OS4xMTQsMTA3LjM2NCwxMDcuMzY0LDAsMCwxLTEyLjI0NCwxNS41MDlsLTMuNjIxLDMuNjIyTDM2MC41LDUzOS45OTJaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzYwLjUgLTE0OS4yNykiLz48L3N2Zz4=);
    position: absolute;
    z-index: 0;
    top: 108px;
  }
  .nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
  }
}
