$color-primary: #6566ff;
$color-dark_primary: #3524cf;

.header {
  background-color: #F6F5FA;
  background-repeat: no-repeat;
  background-position: top;
}
.sect {
  background-repeat: no-repeat;
  background-position: 10px top;
}
.gradient_light {
  background: rgb(246,245,250);
  background: linear-gradient(180deg, rgba(246,245,250,1) 0%, rgba(255,255,255,1) 100%);
}
.gradient_dark {
  background: rgb(23,25,35);
  background: linear-gradient(180deg, rgba(23,25,35,1) 0%, rgba(26,32,44,1) 100%);
}
.navButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.nav {
  display: flex;
  align-items: center;
  flex-grow: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  height: 100%;
  li {
    position: relative;
    z-index: 1;
    margin: 0 0.55em;
    a {
      font-weight: 600;
      &:hover {
        text-decoration: underline;
        color: $color-primary;
      }
    }
  }
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}
.embla__slide:nth-child(1) {
  margin-left: 40px;
  margin-right: 10px;
}
.embla__slide:nth-child(2) {
  margin-right: 80px;
  margin-left: 40px;
}
.fControl {
  margin-top: .8rem;
}
.tp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  text-align: center;
}
.inputSelect > div:first-of-type{
    height: 48px;
    display: flex;
    align-items: center;
}
